mat-form-field{
  width: 400px;
}

mat-card-title{
  text-align: center;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
