<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
    <mat-nav-list>

      <!--<a *ngFor="let product of products"-->
         <!--[routerLink]="['/product-details', product.id]">-->
        <!--{{ product.name }}-->
      <!--</a>-->
      <a mat-list-item  [routerLink]="['/meniustandard']">Meniu Standard</a>
      <a mat-list-item  [routerLink]="['/meniulaalegere']">Meniu la alegere</a>
      <a mat-list-item  [routerLink]="['/meniuextra']">Meniu Extra</a>
      <a mat-list-item routerLink='/ciorbe'>Ciorbe</a>
      <a mat-list-item  *ngFor="let cat of categories"
         [routerLink]="['/listfel', cat.nume]" [queryParams]="{categoria: cat.nume}">
        {{ cat.nume }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

